body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #434455;
}

html,
body {
    overflow-x: hidden;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-logo-web {
    color: #2e2f42;
}

.header-menu {
    display: none;
}

.header-menu-list {}

.address {
    font-style: normal;
    display: none;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list-contact {}

.open-menu-btn {
    fill: #2f2f37;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .header-container {
        align-items: center;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .open-menu-btn {
        display: none;
    }

    .header-menu-list-a {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        display: flex;
        justify-content: start;
        align-items: end;
    }

    .current {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-list-a.current::after {
        position: absolute;
        content: "";
        border-radius: 2px;
        background: #404bbf;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
    }

    .header-menu-list-a:hover {
        color: #404bbf;
    }

    .header-menu-list-a:focus {
        color: #404bbf;
    }

    .header-menu-list-a:active {
        color: #404bbf;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    .address-list-contact-a {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-list-contact-a:hover {
        color: #404bbf;
    }

    .address-list-contact-a:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-list-contact-a {
        font-size: 16px;
        line-height: 1.5;
    }
}


.backdrop-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.backdrop-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}


.modal-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;

    display: flex;
    flex-direction: column;
}

.menu-wrapper-adr-icon {
    margin-top: auto;
}

.modal-close-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    background: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-menu:hover {
    background: #404bbf;
    border: none;
}

.modal-close-menu:focus {
    background: #404bbf;
    border: none;
}

.modal-close-menu:hover>.modal-close-image {
    fill: #ffffff;
}

.modal-close-menu:focus>.modal-close-image {
    fill: #ffffff;
}

.modal-close-image-menu {
    display: flex;
    fill: #2e2f42;
    margin: 0 auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-image-menu:hover {
    fill: #ffffff;
}

.modal-close-image-menu:focus {
    fill: #ffffff;
}

.mobil-menu {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.mobil-menu-list-a {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    display: flex;
    justify-content: start;
    align-items: end;
}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-menu-list-a:hover {
    color: #404bbf;
}

.mobil-menu-list-a:focus {
    color: #404bbf;
}

.mobil-menu-list-a:active {
    color: #404bbf;
}

.menu-wrapper-adr-icon .menu-address {
    display: block;
}

.menu-address-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    /* margin-top: 168px; */
}

.menu-address-list-contact-a {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
}

.menu-tel {
    color: #4d5ae5;
}

.menu-address-list-contact-a:hover {
    color: #404bbf;
}

.menu-address-list-contact-a:focus {
    color: #404bbf;
}

.menu-icon {
    width: 280px;
    height: 40px;
    margin-top: 40px;
}

.menu-list-icon {
    display: flex;
    gap: 40px;
}

.menu-part-icon {
    width: 40px;
    height: 40px;
}

.menu-part-a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-part-a:hover {
    background-color: #31d0aa;
}

.menu-part-a:focus {
    background-color: #31d0aa;
}

.menu-icon-image {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .backdrop-menu {
        display: none;
    }
}


.title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 188px 0; */
    padding: 72px 0;
    margin: 0 auto;
    /* max-width: 1440px; */
    background-size: cover;
    max-width: 320px;
    /* height: 432px; */
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-rezolution: 2dppx),
(min-rezolution: 192dpi) {
    .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-mobile@2x.jpg);
    }
}

.title-name {
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
}

.title-name-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 48px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-name-btn:hover {
    background-color: #404bbf;
}

.title-name-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .title {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-tablet.jpg);
        max-width: 768px;
        /* height: 436px; */
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-rezolution: 2dppx),
    (min-rezolution: 192dpi) {
        .title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office-tablet@2x.jpg);
        }
    }

    .title-name {
        font-size: 56px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .title {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/office-desk.jpg);
        max-width: 1440px;
        /* height: 600px; */
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-rezolution: 2dppx),
    (min-rezolution: 192dpi) {
        .title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office-desk@2x.jpg);
        }
    }

    .title-name {
        font-size: 56px;
        max-width: 496px;
    }
}



.advantages {
    /* padding-top: 120px;
  padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-advantages {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-section-list {
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-direction: column;
}

.advantages-section-list-part {
    /* width: calc((100% - 3 * 24px) / 4); */
}

.advantages-section-list-part:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.advantages-section-list-title {
    /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

    display: block;
    text-align: center;
}

.advantages-section-list-text {
    font-weight: 500;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages-icon {
    /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px; */
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .advantages {
        padding-top: 96px;
        padding-bottom: 72px;
    }

    .advantages-section-list {
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantages-section-list-part {
        width: calc((100% - 24px) / 2);
    }

    .advantages-section-list-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-section-list {
        gap: 24px;
    }

    .advantages-section-list-part {
        width: calc((100% - 3 * 24px) / 4);
    }

    .advantages-section-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages-section-list-text {
        font-weight: 400;
    }

    .advantages-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        width: 264px;
    }
}



.team {
    background-color: #f4f4fd;
    /* padding-top: 120px;
  padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-team {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.team-section-list-part {
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24) / 4);
    text-align: center;
    width: 264px;
}

.team-bloc-text {
    padding: 32px 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 16px;
    margin-right: 15px;
}

.team-section-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-section-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-img {
    margin: 0 auto;
}

.team-icon {}

.team-list-icon {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.team-part-icon {
    width: 40px;
    height: 40px;
}

.team-part-a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-part-a:hover {
    background-color: #404bbf;
}

.team-part-a:focus {
    background-color: #404bbf;
}

.team-icon-image {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .container-narrow {
        width: 584px;
    }

    .team-section-list {
        gap: 64px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-section-list-part {
        width: calc((100% - 24px) / 2);
    }

    .team-bloc-text {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-section-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .team-section-list-part {
        width: calc((100% - 3 * 24) / 4);
    }
}


.portfolio {
    /* padding-top: 120px;
  padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-portfolio {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-section-list {
    background-color: #ffffff;
    display: flex;
    /* gap: 48px 24px; */
    flex-wrap: wrap;

    gap: 48px;
}

.portfolio-section-list-part {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-part:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-list-wrapper {
    position: relative;
    overflow: hidden;
    width: 288px;
    height: 280px;
}

.section-list-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-part:hover .section-list-text {
    transform: translateY(0%);
}

.portfolio-bloc-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    /* width: 360px; */
    width: 288px;
    padding: 32px 16px;
}

.portfolio-section-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-section-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .section-list-wrapper {
        width: 356px;
        height: 300px;
    }

    .portfolio-section-list {
        gap: 72px 24px;
    }

    .portfolio-section-list-part {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-bloc-text {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-list-wrapper {
        width: 360px;
        height: 300px;
    }

    .portfolio-section-list {
        gap: 48px 24px;
    }

    .portfolio-section-list-part {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-bloc-text {
        width: 360px;
    }
}



.footer {
    background-color: #2e2f42;
    /* padding-top: 100px;
  padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-auxiliary {
    /* margin-right: 120px; */
    margin-bottom: 72px;
}

.footer-container {
    display: flex;
    align-items: baseline;

    flex-direction: column;
    text-align: center;

    align-items: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-web {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

    text-align: left;
    /* margin-bottom: 72px; */
}

.footer-icon {
    /* width: 280px;
  height: 80px; */

    margin-bottom: 72px;
    text-align: center;
}

.footer-icon-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-icon {
    display: flex;
    gap: 16px;

    justify-content: center;
}

.footer-part-icon {
    width: 40px;
    height: 40px;
}

.footer-part-a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-part-a:hover {
    background-color: #31d0aa;
}

.footer-part-a:focus {
    background-color: #31d0aa;
}

.footer-icon-image {
    fill: #f4f4fd;
}

.form-subscribe {
    /* width: 453px;
  height: 80px; */
    display: flex;
    gap: 24px;
    /* flex-wrap: wrap; */

    flex-direction: column;
    align-items: center;
}

.text-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

    text-align: center;
}

.label-subscribe {}

.input-subscribe {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.input-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: flex;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    align-items: center;
    justify-content: center;
}

.subscribe-btn:hover {
    background-color: #404bbf;
}

.subscribe-btn:hover+.subscribe-btn-image {
    fill: #ffffff;
}

.subscribe-btn:focus {
    background-color: #404bbf;
}

.subscribe-btn:focus+.subscribe-btn-image {
    fill: #ffffff;
}

.subscribe-btn-image {
    fill: #ffffff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .container-narrow {
        width: 552px;

        align-items: baseline;
    }

    .container-footer {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-auxiliary {
        margin-bottom: 0;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-text {
        margin-bottom: 0;
    }

    .footer-icon {
        margin-bottom: 0;
    }

    .footer-icon-text {
        text-align: left;
    }

    .footer-list-icon {
        justify-content: left;
    }

    .text-subscribe {
        text-align: left;
    }

    .form-subscribe {
        flex-direction: row;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        width: 1158px;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        gap: unset;
    }

    .footer-auxiliary {
        margin-right: 120px;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-icon {
        margin-right: 80px;
    }

    .footer-icon-text {
        text-align: left;
    }

    .footer-list-icon {
        justify-content: left;
    }

    .form-subscribe {
        width: 453px;
        height: 80px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .text-subscribe {
        text-align: left;
        margin-bottom: 0px;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-text {
        text-align: initial;
    }
}


.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}


.modal {
    position: absolute;
    /* width: 408px;
  min-height: 584px; */
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 16px 16px;
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    background: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background: #404bbf;
    border: none;
}

.modal-close:focus {
    background: #404bbf;
    border: none;
}

.modal-close:hover>.modal-close-image {
    fill: #ffffff;
}

.modal-close:focus>.modal-close-image {
    fill: #ffffff;
}

.modal-close-image {
    display: flex;
    fill: #2e2f42;
    margin: 0 auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-image:hover {
    fill: #ffffff;
}

.modal-close-image:focus {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-input:hover+.modal-icon {
    fill: #4d5ae5;
    transition: fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.modal-field-wrap {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover {
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}


.checkbox-mark {
    display: flex;
    margin-bottom: 24px;
}

.visually-hidden {
    /* width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4); */
}

.visually-hidden:checked+.checkbox-mark-modal span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-mark-modal {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-mark-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.mark-span-icon {
    fill: #f4f4fd;
}

.checkbox-mark-linc {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.modal-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 24px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background-color: #404bbf;
}

.modal-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}
