body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.main-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-right: 76px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.header-menu-nav{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.link-logo{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-logo-studio{
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-logo-studio:after{
    content:'';
    width:100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.link-logo:hover{
    color: #404bbf;
}
.link-logo:focus{
    color:#404bbf;
}
.first-section-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section{
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-img.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.first-section-h{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.first-section-button:hover{
    background-color: #404BBF;
}
.first-section-button:focus{
    background-color: #404BBF;
}
.adress{
    font-style: normal;
    margin-left: auto;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
} 
.header-contact-menu{
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    gap: 40px;
}
.header-contact-link{
    color: #434455;
}
.header-contact-link:hover{
    color: #404bbf;
}
.header-contact-link:focus{
    color: #404bbf;
}
 .portfolio-item:hover {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .link-logo-portfolio:hover {
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .link-logo-contacts:hover {
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.second-section{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-section-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.second-section-h{
    font-weight: 1128px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.third-section-list{
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}
.third-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}
.third-section-bg{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.third-section-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.third-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third-section-li{
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container{
    display: flex;
    align-items: center;
}
.images{
    display: block;
}
.header-menu-item{
    gap: 40px;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-nav{
    display: flex;
    gap: 40px;
}

.features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.menu-nav-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-item{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    gap: 24px;
}
.team-employee{
    padding: 32px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
 .link-logo-portfolio:hover{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.link-logo-contacts:hover{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.portfolio-description{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
    flex-basis: calc((100% - 72px) / 4);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px
}
.portfolio-h{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.main-logo-footer{
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info-text {
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 16px;
    max-width: 264px;
    margin-bottom: 16px;
    font-weight: 500;
}
.footer-logo-accent {
    color: #f4f4fd;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    fill: #f4f4fd;
    gap: 16px;
}
.icon-item-footer{
    gap: 16px;
}
.footer-link:focus{
    background-color: #31d0aa;
}
.footer-link:hover{
    background-color: #31d0aa;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-info-text-container{
    margin-right: 120px;
}
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-social-media {
    gap: 16px;
    margin-right: auto;
}
.social-links-footer{
        display: flex;
        gap: 16px;
        flex-shrink: 0;
        align-self: center;
        justify-content: center;
}
.link-ppc{
        transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: center;
    justify-content: center;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: #4d5ae5;
    fill: #f4f4fd;
}
.link:focus{
    background-color: #404bbf;
}
.social-links .link:hover {
    background-color: #404bbf;
}
.social-links .icon {
    fill: #404bbf;
}
.social-links .link:hover .icon {
    fill: #03a9f4;
}
.footer-icon{
    fill: #f4f4fd;
    gap: 16px;
}
.overlay-image{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    transform: translateY(100%);
}
/* .overlay-image:hover .overlay{
    transform: translateY(0);
} */

.portfolio-item:hover .overlay {
    transform: translateY(0);
}
.footer-subsribe{
    display: flex;
}
.subscribe-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        padding: 8px 24px;
        min-width: 165px;
        cursor: pointer;
        height: 40px;
        color: #fff;
        letter-spacing: 0.04em;
}
.footer-icon-telegram{
    fill: #fff;
    margin-left: 16px;
}

/* modal */

.form{
    display: flex;
    gap: 24px;
}
.form-input-footer{
    width: 264px;
    height: 40px;
    padding: 8px;
    padding-left: 16px;
    border: 1px solid #ffffff;  
    color:#ffffff;
    background-color: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    outline: none;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    margin-bottom: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}

.modal-p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item{
    margin-bottom: 8px;
}
.form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input{
    position: relative;
}

.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus+.modal-icon-field{
    fill: #4d5ae5;
}

.form-input:hover+.modal-icon-field{
    fill: #4d5ae5;
}

.modal-input {
    margin-bottom: 8px;
}

.modal-field {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 16px;
}

.modal-icon-field {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-field:focus {
    fill: #4D5AE5;
}

.subscribe-field {
    margin-bottom: 24px;
}

.user-agree {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.privacy-policy-href {
    color: #4d5ae5;
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.button-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button-close:hover{
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
}
.modal-button-close:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.send-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover{
    fill: #ffffff;
}
.send-button:focus{
    fill: #ffffff;
}
.user-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-field:checked+.user-agree>.privacy-policy {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.user-comment:focus {
    border-color: #4D5AE5;
}
.checkbox-icon {
    fill: #f4f4fd;
}
.input:checked+label>span {
    background-color: #404BBF;
    fill: #f4f4fd;
    border: none;
}





































/* .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover{
    background-color: #404bbf;
    border: none;
}
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
}


.form-button{
    align-self: flex-start;
}


.form-input-modal{
    padding: 4px;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 4px;
}
.form-label{
    display: flex;
    flex-direction: column;
    transition: color 150ms ease-in-out;

}

textarea{
    resize: none;
}



.privacy-policy-href{
    text-decoration: underline ;
    color: #4D5AE5;
}
.modal-item{
    margin-bottom: 8px;
}
.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
} */